.git
.github
.vscode
.idea
.gemini
.qwen
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/storage
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-debug.log
yarn-error.log
docker-compose.yml
Dockerfile
.dockerignore
